* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.header {
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1000px;
  margin: 20px auto;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .title a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.add-btn {
  background-color: #ffffff;
  color: #000000 !important;
  padding: 8px 16px;
  border-radius: 14px;
  font-size: 14px;
}

.header .logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 10px;
}

.logo-image {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-size: 1.25rem;
}

.task-card {
  gap: 40px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.task-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  gap: 50px;
}

.task-description {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #373c42;
  margin-bottom: 50px;
}

.complete-btn {
  background-color: #000000;
  color: #ffffff !important;
  padding: 8px 16px;
  border-radius: 14px;
  font-size: 1rem;
}

.task-image img {
  width: 400px;
  height: 400px;
  border-radius: 14px;
  object-fit: cover;
}
