* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-layout {
  display: grid;
  grid-template-columns: 350px 1fr 350px;
  gap: 25px;
  padding: 0px 25px;
  min-height: 100vh;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.mini-header-left {
  background-color: #000000;
  padding: 10px 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0;
  width: 100%;
  height: 56px;
}

.mini-header-right {
  background-color: #000000;
  padding: 10px 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0;
  width: 100%;
  height: 56px;
}

.mini-header-left-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mini-header-left-title a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.avatar-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.done-tasks-btn {
  background-color: #ffffff;
  color: #000000 !important;
  padding: 8px 12px;
  border-radius: 14px;
  font-size: 14px;
}

.mini-header-right-title {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  padding: 0 8px;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.mini-header-right-title a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.account-btn {
  background-color: #ffffff;
  color: #000000 !important;
  padding: 8px 12px;
  border-radius: 14px;
  font-size: 14px;
}

.right-sidebar-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.right-sidebar-container > div {
  background-color: #2c2c2c;
  border-radius: 14px;
  padding: 20px;
  width: 100%;
  height: 830px;
}

.left-sidebar-container {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.left-sidebar-container > div {
  background-color: #2c2c2c;
  border-radius: 14px;
  padding: 20px;
  width: 100%;
  height: 260px;
}

.content-container {
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #000000;
  padding: 10px 20px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px auto;
  width: 100%;
}

.header .title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .title a {
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.add-btn {
  background-color: #ffffff;
  color: #000000 !important;
  padding: 8px 16px;
  border-radius: 14px;
  font-size: 14px;
}

.header .logo {
  display: flex;
  align-items: center;
  color: #ffffff;
  gap: 17px;
}

.logo-image {
  width: 32px;
  height: 32px;
}

.logo-text {
  font-size: 1.25rem;
}

.task-card {
  gap: 40px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card:nth-child(even) {
  flex-direction: row-reverse;
}

.task-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
  gap: 50px;
}

.task-description {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #373c42;
  margin-bottom: 50px;
}

.complete-btn {
  background-color: #000000;
  color: #ffffff !important;
  padding: 8px 16px;
  border-radius: 14px;
  font-size: 1rem;
}

.task-image img {
  width: 400px;
  height: 400px;
  border-radius: 14px;
  object-fit: cover;
}
